<!DOCTYPE html>
<html lang="pt_BR">
<head>
	<title>
		{% block title %}Git Script Deploy{% endblock %}
	</title>
<!-- Required Meta Tags Always Come First -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
<link rel="shortcut icon" href="/favicon.ico">

<!-- Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/bootstrap/css/bootstrap.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/custombox/dist/custombox.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/animate.css/animate.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css">


<!-- CSS Front Template -->
<link rel="stylesheet" href="{{ base_url() }}/assets/css/front.css">

{% block head %}{% endblock %}

</head>

<body class="u-custombox-no-scroll">
	<!-- ========== HEADER ========== -->
  <header id="header" class="u-header">
    <!-- Search -->
    <div id="searchPushTop" class="u-search-push-top">
      <div class="container position-relative">
        <div class="u-search-push-top__content mx-auto">
          <!-- Close Button -->
          <button type="button" class="close u-search-push-top__close-btn"
                  aria-haspopup="true"
                  aria-expanded="false"
                  aria-controls="searchPushTop"
                  data-unfold-type="jquery-slide"
                  data-unfold-target="#searchPushTop">
            <span aria-hidden="true">&times;</span>
          </button>
          <!-- End Close Button -->

          <!-- Input -->
		  <form  method="post" action="{{urlFor('project_search')}}">
			  <div class="form-group ">
				  <label for="search_text"  >
					  Buscar
				  </label>

				  <input class="form-control u-form__input" placeholder="Search Front" aria-label="Buscar Projeto" type="text" value="{{query.search_text}}" id="search_text" name="search_text"/>
			  </div>

			  <div class="form-group">
				  <label for="project_status"  >
					  Status do Projeto
				  </label>

				  <select   class="form-control " name="project_status" id="project_status" >
					  <option value="" >
						  Qualquer
					  </option>
					  {% for key,value in project_status %}
					  <option value="{{ key }}" {% if query.project_status ==(key) and query.project_status!="" %} selected{%endif%} >
						  {{ value }}
					  </option>
					  {% endfor %}
				  </select>
			  </div>

			  <div class="form-group">
				  <label for="project_type" >
					  Tipo do Projeto
				  </label>
				  <select class="form-control" name="project_type" id="project_type" >
					  <option value="" >
						  Qualquer
					  </option>
					  {% for key,value in project_types %}
					  <option value="{{ key }}" {% if query.project_type ==(key) and query.project_type!="" %} selected{%endif%} >
						  {{ value }}
					  </option>
					  {% endfor %}
				  </select>
			  </div>

			  <button class="btn btn-lg btn-primary " type="submit" name="search">
				  Buscar
			  </button>
			  <button class="btn btn-lg btn-info " type="submit" name="reset">
				  Limpar filtro
			  </button>
		  </form>
          <!-- End Input -->

        </div>
      </div>
    </div>
    <!-- End Search -->

    <div class="u-header__section">

      <div id="logoAndNav" class="container">
        <!-- Nav -->
        <nav class="js-mega-menu navbar navbar-expand-md u-header__navbar">
          <!-- Logo -->
          <a class="navbar-brand u-header__navbar-brand u-header__navbar-brand-top-space" href="{{ urlFor('projects') }}" aria-label="Front">
            <img src="{{ base_url() }}/assets/svg/logos/logo.svg" alt="Logo">
          </a>
          <!-- End Logo -->

          <!-- Responsive Toggle Button -->
          <button type="button" class="navbar-toggler btn u-hamburger"
                  aria-label="Toggle navigation"
                  aria-expanded="false"
                  aria-controls="navBar"
                  data-toggle="collapse"
                  data-target="#navBar">
            <span id="hamburgerTrigger" class="u-hamburger__box">
              <span class="u-hamburger__inner"></span>
            </span>
          </button>
          <!-- End Responsive Toggle Button -->

          <!-- Navigation -->
          <div id="navBar" class="collapse navbar-collapse py-0">
            <ul class="navbar-nav u-header__navbar-nav ml-lg-auto">

			  <!-- Starter - Link -->
              <li class="nav-item">
                <a class="nav-link u-header__nav-link" href="{{ urlFor('projects') }}">
                  Projetos
                </a>
              </li>
              <!-- End Starter - Link -->

              <!-- Button -->
			  {% if not loggedin %}
			  <li class="nav-item d-none d-md-inline-block pl-3 pr-0">
                <a class="btn btn-sm btn-primary u-btn-primary transition-3d-hover" href="{{ urlFor('login') }}" target="_blank">
                  Login
                </a>
              </li>
			  {%else%}
			  <li class="nav-item hs-has-sub-menu u-header__nav-item hs-sub-menu-opened" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                <a id="blogMegaMenu" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="blogSubMenu">
                  {{ auth_user.username }}
                  <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                </a>

                <!-- Blog - Submenu -->
                <ul id="blogSubMenu" class="list-inline hs-sub-menu u-header__sub-menu py-3 mb-0 animated fadeOut" style="min-width: 220px; display: none;" aria-labelledby="blogMegaMenu">
					<li class="dropdown-item px-0">
						<a class="nav-link u-list__link px-4" href="{{ urlFor('profile') }}">
						Perfil
						</a>
  				  	</li>

				  	<li class="dropdown-item px-0">
					  <a class="nav-link u-list__link px-4" href="{{ urlFor('settings') }}">
  							Configurações
  						</a>
  					</li>
					<li class="dropdown-item px-0">
						<a class="nav-link u-list__link px-4" href="{{ urlFor('logout') }}">
	  						Sair
	  					</a>
				  	</li>

                </ul>
                <!-- End Submenu -->
              </li>
			  <!-- Search -->
              <li class="list-inline-item">
                <a class="btn btn-xs u-btn--icon u-btn-text-secondary" href="javascript:;" role="button"
                        aria-haspopup="true"
                        aria-expanded="false"
                        aria-controls="searchPushTop"
                        data-unfold-type="jquery-slide"
                        data-unfold-target="#searchPushTop">
                  <span class="fa fa-search u-btn--icon__inner"></span>
                </a>
              </li>
              <!-- End Search -->

			  {%endif%}

              <!-- End Button -->
            </ul>
          </div>
          <!-- End Navigation -->
        </nav>
        <!-- End Nav -->
      </div>
    </div>
  </header>
  <!-- ========== END HEADER ========== -->

  <!-- ========== MAIN ========== -->
    <main id="content" role="main">
    <!-- Breadcrumb Section -->
    <div class="bg-primary">
  	<div class="container u-space-1-top pb-3">
  	  <div class="row">
  		<div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
  		  <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
  			<!-- Breadcrumb -->
  			<ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
  			  <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
  			  <li class="breadcrumb-item active" aria-current="page" href="">Projetos</li>
  			</ol>
  			<!-- End Breadcrumb -->

  			<!-- Breadcrumb Nav Toggle Button -->
  			<div class="d-lg-none">
  			  <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white"
  					  aria-label="Toggle navigation"
  					  aria-expanded="false"
  					  aria-controls="breadcrumbNavBar"
  					  data-toggle="collapse"
  					  data-target="#breadcrumbNavBar">
  				<span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
  				  <span class="u-hamburger__inner"></span>
  				</span>
  			  </button>
  			</div>
  			<!-- End Breadcrumb Nav Toggle Button -->
  		  </div>
  		</div>

  		<div class="col-lg-7 order-lg-1">
  		  <!-- User Info -->
  		  <div class="media d-block d-sm-flex align-items-sm-center">
  			<div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
  			  <script>
  			  document.write('<img class="u-lg-avatar rounded-circle" src="' + get_gravatar('{{ auth_user.email }}', 160) + '" alt="{{ auth_user.name }}"/>');

  			  function get_gravatar(email, size) {

  				  // MD5 (Message-Digest Algorithm) by WebToolkit
  				  //

  				  var MD5=function(s){function L(k,d){return(k<<d)|(k>>>(32-d))}function K(G,k){var I,d,F,H,x;F=(G&2147483648);H=(k&2147483648);I=(G&1073741824);d=(k&1073741824);x=(G&1073741823)+(k&1073741823);if(I&d){return(x^2147483648^F^H)}if(I|d){if(x&1073741824){return(x^3221225472^F^H)}else{return(x^1073741824^F^H)}}else{return(x^F^H)}}function r(d,F,k){return(d&F)|((~d)&k)}function q(d,F,k){return(d&k)|(F&(~k))}function p(d,F,k){return(d^F^k)}function n(d,F,k){return(F^(d|(~k)))}function u(G,F,aa,Z,k,H,I){G=K(G,K(K(r(F,aa,Z),k),I));return K(L(G,H),F)}function f(G,F,aa,Z,k,H,I){G=K(G,K(K(q(F,aa,Z),k),I));return K(L(G,H),F)}function D(G,F,aa,Z,k,H,I){G=K(G,K(K(p(F,aa,Z),k),I));return K(L(G,H),F)}function t(G,F,aa,Z,k,H,I){G=K(G,K(K(n(F,aa,Z),k),I));return K(L(G,H),F)}function e(G){var Z;var F=G.length;var x=F+8;var k=(x-(x%64))/64;var I=(k+1)*16;var aa=Array(I-1);var d=0;var H=0;while(H<F){Z=(H-(H%4))/4;d=(H%4)*8;aa[Z]=(aa[Z]|(G.charCodeAt(H)<<d));H++}Z=(H-(H%4))/4;d=(H%4)*8;aa[Z]=aa[Z]|(128<<d);aa[I-2]=F<<3;aa[I-1]=F>>>29;return aa}function B(x){var k="",F="",G,d;for(d=0;d<=3;d++){G=(x>>>(d*8))&255;F="0"+G.toString(16);k=k+F.substr(F.length-2,2)}return k}function J(k){k=k.replace(/rn/g,"n");var d="";for(var F=0;F<k.length;F++){var x=k.charCodeAt(F);if(x<128){d+=String.fromCharCode(x)}else{if((x>127)&&(x<2048)){d+=String.fromCharCode((x>>6)|192);d+=String.fromCharCode((x&63)|128)}else{d+=String.fromCharCode((x>>12)|224);d+=String.fromCharCode(((x>>6)&63)|128);d+=String.fromCharCode((x&63)|128)}}}return d}var C=Array();var P,h,E,v,g,Y,X,W,V;var S=7,Q=12,N=17,M=22;var A=5,z=9,y=14,w=20;var o=4,m=11,l=16,j=23;var U=6,T=10,R=15,O=21;s=J(s);C=e(s);Y=1732584193;X=4023233417;W=2562383102;V=271733878;for(P=0;P<C.length;P+=16){h=Y;E=X;v=W;g=V;Y=u(Y,X,W,V,C[P+0],S,3614090360);V=u(V,Y,X,W,C[P+1],Q,3905402710);W=u(W,V,Y,X,C[P+2],N,606105819);X=u(X,W,V,Y,C[P+3],M,3250441966);Y=u(Y,X,W,V,C[P+4],S,4118548399);V=u(V,Y,X,W,C[P+5],Q,1200080426);W=u(W,V,Y,X,C[P+6],N,2821735955);X=u(X,W,V,Y,C[P+7],M,4249261313);Y=u(Y,X,W,V,C[P+8],S,1770035416);V=u(V,Y,X,W,C[P+9],Q,2336552879);W=u(W,V,Y,X,C[P+10],N,4294925233);X=u(X,W,V,Y,C[P+11],M,2304563134);Y=u(Y,X,W,V,C[P+12],S,1804603682);V=u(V,Y,X,W,C[P+13],Q,4254626195);W=u(W,V,Y,X,C[P+14],N,2792965006);X=u(X,W,V,Y,C[P+15],M,1236535329);Y=f(Y,X,W,V,C[P+1],A,4129170786);V=f(V,Y,X,W,C[P+6],z,3225465664);W=f(W,V,Y,X,C[P+11],y,643717713);X=f(X,W,V,Y,C[P+0],w,3921069994);Y=f(Y,X,W,V,C[P+5],A,3593408605);V=f(V,Y,X,W,C[P+10],z,38016083);W=f(W,V,Y,X,C[P+15],y,3634488961);X=f(X,W,V,Y,C[P+4],w,3889429448);Y=f(Y,X,W,V,C[P+9],A,568446438);V=f(V,Y,X,W,C[P+14],z,3275163606);W=f(W,V,Y,X,C[P+3],y,4107603335);X=f(X,W,V,Y,C[P+8],w,1163531501);Y=f(Y,X,W,V,C[P+13],A,2850285829);V=f(V,Y,X,W,C[P+2],z,4243563512);W=f(W,V,Y,X,C[P+7],y,1735328473);X=f(X,W,V,Y,C[P+12],w,2368359562);Y=D(Y,X,W,V,C[P+5],o,4294588738);V=D(V,Y,X,W,C[P+8],m,2272392833);W=D(W,V,Y,X,C[P+11],l,1839030562);X=D(X,W,V,Y,C[P+14],j,4259657740);Y=D(Y,X,W,V,C[P+1],o,2763975236);V=D(V,Y,X,W,C[P+4],m,1272893353);W=D(W,V,Y,X,C[P+7],l,4139469664);X=D(X,W,V,Y,C[P+10],j,3200236656);Y=D(Y,X,W,V,C[P+13],o,681279174);V=D(V,Y,X,W,C[P+0],m,3936430074);W=D(W,V,Y,X,C[P+3],l,3572445317);X=D(X,W,V,Y,C[P+6],j,76029189);Y=D(Y,X,W,V,C[P+9],o,3654602809);V=D(V,Y,X,W,C[P+12],m,3873151461);W=D(W,V,Y,X,C[P+15],l,530742520);X=D(X,W,V,Y,C[P+2],j,3299628645);Y=t(Y,X,W,V,C[P+0],U,4096336452);V=t(V,Y,X,W,C[P+7],T,1126891415);W=t(W,V,Y,X,C[P+14],R,2878612391);X=t(X,W,V,Y,C[P+5],O,4237533241);Y=t(Y,X,W,V,C[P+12],U,1700485571);V=t(V,Y,X,W,C[P+3],T,2399980690);W=t(W,V,Y,X,C[P+10],R,4293915773);X=t(X,W,V,Y,C[P+1],O,2240044497);Y=t(Y,X,W,V,C[P+8],U,1873313359);V=t(V,Y,X,W,C[P+15],T,4264355552);W=t(W,V,Y,X,C[P+6],R,2734768916);X=t(X,W,V,Y,C[P+13],O,1309151649);Y=t(Y,X,W,V,C[P+4],U,4149444226);V=t(V,Y,X,W,C[P+11],T,3174756917);W=t(W,V,Y,X,C[P+2],R,718787259);X=t(X,W,V,Y,C[P+9],O,3951481745);Y=K(Y,h);X=K(X,E);W=K(W,v);V=K(V,g)}var i=B(Y)+B(X)+B(W)+B(V);return i.toLowerCase()};

  				  var size = size || 80;

  				  return 'https://www.gravatar.com/avatar/' + MD5(email) + '.jpg?s=' + size;
  			  }
  			  </script>

  			  <span class="u-badge u-badge-border-success u-badge--md u-badge-pos--bottom-right-0 rounded-circle">
  				<span class="fa fa-check"></span>
  			  </span>
  			</div>
  			<div class="media-body">
  			  <h1 class="h3 text-white font-weight-medium mb-1">Olá, <span style="text-transform: capitalize;">{{ auth_user.username }}</span>!</h1>
  			  <span class="d-block text-white">{{ auth_user.email }}</span>
  			</div>
  		  </div>
  		  <!-- End User Info -->
  		</div>
  	  </div>
  	</div>

  	<div class="container u-space-1-bottom u-space-bottom-0--lg">
  	  <div class="d-lg-flex justify-content-lg-between align-items-lg-center">

  		{% block navbar_menu %}{% endblock %}
		{% block botao %}{% endblock %}

  	  </div>
  	</div>
    </div>
    <!-- End Breadcrumb Section -->

	{% block body %}{% endblock %}


<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#"
data-position='{"bottom": 15, "right": 15 }'
data-type="fixed"
data-offset-top="400"
data-compensation="#header"
data-show-effect="slideInUp"
data-hide-effect="slideOutDown">
<span class="fa fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->

<!-- JS Global Compulsory -->
<script src="{{ base_url() }}/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="{{ base_url() }}/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="{{ base_url() }}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/custombox/dist/custombox.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

<!-- JS Front -->
<script src="{{ base_url() }}/assets/js/hs.core.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.header.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.unfold.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.malihu-scrollbar.js"></script>
<script src="{{ base_url() }}/assets/js/helpers/hs.focus-state.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.modal-window.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.selectpicker.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.range-datepicker.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.go-to.js"></script>

<!-- JS Plugins Init. -->
<script>
$(window).on('load', function () {
// initialization of HSMegaMenu component
$('.js-mega-menu').HSMegaMenu({
event: 'hover',
pageContainer: $('.container'),
breakpoint: 767,
hideTimeOut: 0
});

// initialization of HSMegaMenu component
$('.js-breadcrumb-menu').HSMegaMenu({
event: 'hover',
pageContainer: $('.container'),
breakpoint: 991,
hideTimeOut: 0
});
});

$(document).on('ready', function () {
// initialization of header
$.HSCore.components.HSHeader.init($('#header'));

// initialization of unfold component
$.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
afterOpen: function () {
$(this).find('input[type="search"]').focus();
}
});

// initialization of malihu scrollbar
$.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

// initialization of forms
$.HSCore.helpers.HSFocusState.init();

// initialization of autonomous popups
$.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-add-project-window', {
autonomous: true
});

// initialization of select picker
$.HSCore.components.HSSelectPicker.init('.js-select');

// initialization of range datepicker
$.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

// initialization of go to
$.HSCore.components.HSGoTo.init('.js-go-to');
});
</script>

{% block footer %}{% endblock %}
</body>
</html>
