{% extends 'full.layout.html.twig' %}
{% block title %}{{ title }}{% endblock %}

{% block navbar_menu %}
<!-- Navbar -->
<div class="u-header u-header--bg-transparent-lg z-index-4">
  <div class="u-header__section bg-transparent u-header--white-nav-links">
	<nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar">
	  <div id="breadcrumbNavBar" class="collapse navbar-collapse py-0">
		<ul class="navbar-nav w-100 u-header__navbar-nav">
			<!-- Projetos -->
			<li class="nav-item u-header__nav-item">
			  <a class="nav-link u-header__nav-link active" href="{{ urlFor('projects') }}">Projetos</a>
			</li>
			<!-- Projetos -->

			<!-- Perfil -->
			<li class="nav-item u-header__nav-item">
			  <a class="nav-link u-header__nav-link" href="{{ urlFor('profile') }}">Perfil</a>
			</li>
			<!-- Perfil -->

			<!-- Configurações -->
			<li class="nav-item u-header__nav-item">
			  <a class="nav-link u-header__nav-link" href="{{ urlFor('settings') }}">Configurações</a>
			</li>
			<!-- Configurações -->

		</ul>
	  </div>
	</nav>
  </div>
</div>
<!-- End Navbar -->
{% endblock %}

{% block body %}
<div class="u-bg-light-blue-50">
      <div class="container u-space-2">
	  	<div class="mb-3">
            <h2 class="h5 mb-0">Atualizar Perfil</h2>
            <p>Para alterar a foto do perfil acesse o site e se cadastre com o mesmo email: <a href="https://gravatar.com" target="_blank" rel="nofollow">https://gravatar.com</a>.</p>
        </div>
		{% include 'flash.twig' %}
        {% set form = flash('form')?flash('form'):form %}
        <form method="post">
          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              E-mail
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" value="{{form.email}}" type="text"  required class="form-control" id="email" name="email" placeholder="E-mail" aria-label="Email">
            </div>
          </div>
          <!-- End Input -->

		  <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              Senha Atual
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" type="password" id="current_password" name="current_password" placeholder="Senha Atual" aria-label="Senha Atual">
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="mb-6">
            <div class="js-form-message">
              <label class="h6 small d-block text-uppercase">
                Nova Senha
              </label>

              <div class="js-focus-state input-group u-form mb-2">
                <input class="form-control u-form__input" type="password" id="password1" name="password1" placeholder="Nova Senha" aria-label="Nova Senha">
              </div>
            </div>
          </div>
          <!-- End Input -->

          <!-- Input -->
          <div class="js-form-message mb-6">
            <label class="h6 small d-block text-uppercase">
              Confirmar Senha
            </label>

            <div class="js-focus-state input-group u-form mb-2">
              <input class="form-control u-form__input" type="password" id="password2" name="password2" placeholder="Confirme Sua Senha" aria-label="Confirme Sua Senha">
            </div>
          </div>
          <!-- End Input -->

          <div class="w-lg-50">
            <!-- Buttons -->
            <button type="submit" class="btn btn-sm btn-primary u-btn-primary transition-3d-hover">Salvar Alterações</button>
            <button type="submit" class="btn btn-sm u-btn-secondary--air transition-3d-hover">Cancelar</button>
            <!-- End Buttons -->
          </div>
        </form>
      </div>
    </div>

{% endblock %}
{% block footer %}
<script>
$(function() {
    $('#type').change(function(){
        if($('#type').val() == 'gh') {
            $('#gh_secret').show();
        } else {
            $('#gh_secret').hide();
        }
    });
    $('#type').change();
});
</script>

<footer>
    <!-- Copyright -->
    <div class="container text-center u-space-1">
      <!-- Logo -->
      <a class="d-inline-block mb-2" href="{{ urlFor('projects') }}" aria-label="Front">
        <img src="/assets/svg/logos/logo.svg" alt="Logo" style="width: 120px;">
      </a>
      <!-- End Logo -->

      <p class="small text-muted">© Tecno FX. {{ "now"|date("Y") }} Auto Deploy. All rights reserved.</p>
    </div>
    <!-- End Copyright -->
  </footer>
{%endblock%}
