{% extends 'full.layout.html.twig' %}

{% block title %}Projetos{% endblock %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css"/>
{% endblock %}


{% block body %}
<main id="content" role="main">
    <!-- Breadcrumb Section -->
    <div class="bg-primary">
      <div class="container u-space-1-top pb-3">
        <div class="row">
          <div class="col-lg-5 order-lg-2 text-lg-right mb-4 mb-lg-0">
            <div class="d-flex d-lg-inline-block justify-content-between justify-content-lg-end align-items-center align-items-lg-start">
              <!-- Breadcrumb -->
              <ol class="breadcrumb breadcrumb-white breadcrumb-no-gutter mb-0">
                <li class="breadcrumb-item"><a class="breadcrumb-link" href="/">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Projetos</li>
              </ol>
              <!-- End Breadcrumb -->

              <!-- Breadcrumb Nav Toggle Button -->
              <div class="d-lg-none">
                <button type="button" class="navbar-toggler btn u-hamburger u-hamburger--white" aria-label="Toggle navigation" aria-expanded="false" aria-controls="breadcrumbNavBar" data-toggle="collapse" data-target="#breadcrumbNavBar">
                  <span id="breadcrumbHamburgerTrigger" class="u-hamburger__box">
                    <span class="u-hamburger__inner"></span>
                  </span>
                </button>
              </div>
              <!-- End Breadcrumb Nav Toggle Button -->
            </div>
          </div>

          <div class="col-lg-7 order-lg-1">
            <!-- User Info -->
            <div class="media d-block d-sm-flex align-items-sm-center">
              <div class="u-lg-avatar position-relative mb-3 mb-sm-0 mr-3">
                <img class="u-lg-avatar rounded-circle" src="../../assets/img/160x160/img2.jpg" alt="Image Description">
                <span class="u-badge u-badge-border-success u-badge--md u-badge-pos--bottom-right-0 rounded-circle">
                  <span class="fa fa-check"></span>
                </span>
              </div>
              <div class="media-body">
                <h1 class="h3 text-white font-weight-medium mb-1">Olá, Luiz Jr!</h1>
                <span class="d-block text-white">luizjrdeveloper@gmail.com</span>
              </div>
            </div>
            <!-- End User Info -->
          </div>
        </div>
      </div>

      <div class="container u-space-1-bottom u-space-bottom-0--lg">
        <div class="d-lg-flex justify-content-lg-between align-items-lg-center">
          <!-- Navbar -->
          <div class="u-header u-header--bg-transparent-lg z-index-4">
            <div class="u-header__section bg-transparent u-header--white-nav-links">
              <nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar hs-menu-initialized hs-menu-horizontal">
                <div id="breadcrumbNavBar" class="collapse navbar-collapse py-0">
                  <ul class="navbar-nav w-100 u-header__navbar-nav">
                    <!-- General -->
                    <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                      <a id="generalDropdown" class="nav-link u-header__nav-link pl-0" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="generalDropdown">
                        General
                        <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                      </a>

                      <!-- Submenu -->
                      <ul id="generalDropdown" class="list-inline hs-sub-menu u-header__sub-menu py-lg-3 mb-0" style="min-width: 220px; display: none;" aria-labelledby="generalDropdown">
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="dashboard.html">Dashboard</a>
                        </li>
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="profile.html">Profile</a>
                        </li>
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="my-tasks.html">My tasks</a>
                        </li>
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="projects.html">Projects</a>
                        </li>
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="members.html">Members</a>
                        </li>
                      </ul>
                      <!-- End Submenu -->
                    </li>
                    <!-- General -->

                    <!-- Account Settings -->
                    <li class="nav-item hs-has-sub-menu u-header__nav-item" data-event="hover" data-animation-in="slideInUp" data-animation-out="fadeOut">
                      <a id="accountSettingsDropdown" class="nav-link u-header__nav-link" href="javascript:;" aria-haspopup="true" aria-expanded="false" aria-labelledby="accountSettingsDropdown">
                        Account settings
                        <span class="fa fa-angle-down u-header__nav-link-icon"></span>
                      </a>

                      <!-- Submenu -->
                      <ul id="accountSettingsDropdown" class="list-inline hs-sub-menu u-header__sub-menu py-lg-3 mb-0" style="min-width: 220px; display: none;" aria-labelledby="accountSettingsDropdown">
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="edit-profile.html">Edit profile</a>
                        </li>
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="change-password.html">Change password</a>
                        </li>
                        <li class="dropdown-item px-0">
                          <a class="nav-link u-header__sub-menu-nav-link u-list__link px-4" href="notifications.html">Notifications</a>
                        </li>
                      </ul>
                      <!-- End Submenu -->
                    </li>
                    <!-- Account Settings -->

                    <!-- Others -->
                    <li class="nav-item u-header__nav-item">
                      <a class="nav-link u-header__nav-link" href="plans.html">Plans</a>
                    </li>
                    <!-- Others -->
                  </ul>
                </div>
              </nav>
            </div>
          </div>
          <!-- End Navbar -->

          <div class="ml-lg-auto">
            <!-- Button -->
            <a class="btn btn-sm u-btn-white--air transition-3d-hover" href="#addProjectModal" data-modal-target="#addProjectModal" data-overlay-color="#111722">
              <span class="fa fa-plus font-size-13 mr-2"></span>
              Create Project
            </a>
			{% if  pager.pagination.count    %}
			  <a  class="btn btn-info btn-sm" href="{{ urlFor('project_form') }}">
				  Criar Projeto
			  </a>
			{% endif %}
            <!-- End Button -->
          </div>
        </div>
      </div>
    </div>
    <!-- End Breadcrumb Section -->

	<div class="card form-project ">
	    <div class="card-block">


	        <table class="table table-responsive1 table-hover">
	            <thead>
	                <tr>
	                      <th>
	                        #ID
	                    </th>
	                    <th>
	                        Nome
	                    </th>
	                    <th>
	                        Branch
	                    </th>


	                     <th>
	                        Status
	                    </th>


	                </tr>
	            </thead>
	            <tbody>

	                <form method="post" id="frm_delete" action="{{urlFor('project_delete')}}"><input type="hidden" name="id" id="delete_id"></form>
	            </tbody>

	            <tfoot><tr> <td colspan="4" class="text-info">{{ pager.paging|raw }}</td> </tr></tfoot>


	        </table>
	    </div>
	</div>

	<div class="modal fade" id="deploy_log_modal">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title">Log da última implantação</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body" style="max-height:400px;overflow-y:scroll">

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
	      </div>
	    </div>
	  </div>
	</div>



	<script>

	$(function()
	{

	$('#deploy_log_modal').on('show.bs.modal', function (event) {
	       var modal = $(this)

	  var id =  $(event.relatedTarget).data('project-id') // Button that triggered the modal
	 var log=nl2br($('#project_'+id).text());

	   modal.find('.modal-title').text('Último log de implantação para o projeto ' + id)

	  modal.find('.modal-body').html( log?log:'No content')
	})



	    $( ".project_delete" ).on( "click", function(){

	    	  if(!confirm('Are you sure?'))
	    	  {
	    	  	return false;
	    	  }

			$( '#delete_id' ).val($( this ).data('id'));

	    	  $( '#frm_delete' ).submit();
	    	  return false;
	    } );

	});
	function nl2br (str, is_xhtml) {
	    var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
	    return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
	}
	</script>


    <!-- Content Section -->
    <div class="u-bg-light-blue-50">
      <div class="container u-space-2">
        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
            <h2 class="h6 mb-0"><h4 class="card-title float-left">
				{{ pagination.count }} Projeto{{ pagination.count>1?'s':'' }}</h2>
          </div>
          <!-- End Title -->

          <!-- Filter -->
          <div class="col-sm-8 col-md-6 text-sm-right">
            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <!-- Select -->
                <div class="dropdown bootstrap-select js-select u-select fit-width"><select class="js-select u-select" data-width="fit" data-style="u-btn-primary--air btn-sm" tabindex="-98">
                  <option value="bydateFilterSelect1" selected="">Latest</option>
                  <option value="bydateFilterSelect2">Popular</option>
                  <option value="bydateFilterSelect3">Low price</option>
                  <option value="bydateFilterSelect4">High price</option>
                </select><button type="button" class="btn dropdown-toggle u-btn-primary--air btn-sm" data-toggle="dropdown" role="button" title="Latest"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">Latest</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                <!-- End Select -->
              </li>
              <li class="list-inline-item">
                <!-- Select -->
                <div class="dropdown bootstrap-select js-select u-select fit-width"><select class="js-select u-select" data-width="fit" data-style="u-btn-primary--air btn-sm" tabindex="-98">
                  <option value="alphabeticalOrderSelect1" selected="">A-to-Z</option>
                  <option value="alphabeticalOrderSelect2">Z-to-A</option>
                </select><button type="button" class="btn dropdown-toggle u-btn-primary--air btn-sm" data-toggle="dropdown" role="button" title="A-to-Z"><div class="filter-option"><div class="filter-option-inner"><div class="filter-option-inner-inner">A-to-Z</div></div> </div></button><div class="dropdown-menu " role="combobox"><div class="inner show" role="listbox" aria-expanded="false" tabindex="-1"><ul class="dropdown-menu inner show"></ul></div></div></div>
                <!-- End Select -->
              </li>
              <li class="list-inline-item">
                <span class="btn btn-sm u-btn-primary--air active">
                  <span class="fa fa-th-large"></span>
                </span>
              </li>
              <li class="list-inline-item">
                <a class="btn btn-sm u-btn-primary--air" href="projects-list.html">
                  <span class="fa fa-list"></span>
                </a>
              </li>
            </ul>
          </div>
          <!-- End Filter -->
        </div>

        <div class="mb-7">
          <div class="card-deck d-block d-md-flex">


		  {% if pager.pagination.count==0 %}
			<tfoot><tr> <td colspan="4" class="text-info text-center">Sorry no projects found. <a  class="btn btn-info btn-sm" href="{{ urlFor('project_form') }}">
			Criar Projeto
		</a></td> </tr></tfoot>

		   {% else %}
			{% for project in projects %}
			<tr>
				<td>


					{% if project.last_hook_time!='0000-00-00 00:00:00' %}
					<div>
						Última implantação em <strong>{{project.last_hook_time |date("d M Y h:i:s a")}} foi <strong class="{{project.last_hook_status?'text-success':'text-danger'}}">{{project.last_hook_status?'bem sucedida':'mal sucedida'}} </strong> e levou  <strong>{{project.last_hook_duration|round}} sgundos</strong>
						<div><a data-toggle="modal" data-target="#deploy_log_modal" href="#" data-project-id="{{project.id}}">Ver Log
					<textarea style="display:none" id="project_{{project.id}}">{{project.last_hook_log}}</textarea></div>
					</div>
					 {%endif%}



				</td>

			</tr>




            <!-- Projects -->
            <div class="card mb-5">
              <div class="card-body p-4">
                <!-- List of Icons -->
                <div class="row justify-content-between align-items-center mb-4">
                  <div class="col-6">
                    <a class="small text-secondary" href="#">
                      <span class="fa fa-bookmark text-primary mr-1"></span>
                      ID-{{project.id}}
                    </a>
                  </div>
                  <div class="col-6 text-right">
                    <!-- Settings -->
                    <div class="position-relative">
                      <a id="settingsDropdown1Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown1" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown1" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                        <span class="fa fa-ellipsis-h u-icon__inner"></span>
                      </a>

                      <div id="settingsDropdown1" class="u-unfold right-0 text-left pl-2 mt-2 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px; animation-duration: 300ms;">
                        <a class="u-list__link" href="{{ urlFor('project_form',{'id':project.id}) }}">
                          <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                          Editar
                        </a>

                        <a class="u-list__link" href="#">
                          <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                          Repository
                        </a>
                        <a class="u-list__link" href="#">
                          <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                          Download
                        </a>
                        <a class="u-list__link" href="#" data-id="{{project.id}}">
                          <span class="fa fa-trash min-width-6 text-center font-size-13"></span>
                          Excluir
                        </a>
                      </div>
                    </div>
                    <!-- End Settings -->
                  </div>
                </div>
                <!-- End List of Icons -->

                <div class="text-center">
					<span class="u-icon u-icon-secondary--air u-icon--xl rounded-circle mb-3">
					  <span class="fa fa-briefcase u-icon__inner font-size-32"></span>
					</span>

                  <!-- Title -->
                  <div class="mb-4">
                    <h3 class="h5 mb-1">{{ project.name }}<strong class="text-info"> @ {{ attribute(project_types, project.type) }}</strong></h3>
                    <p class="font-size-14">The time has come to bring those ideas and plans to life.</p>
                  </div>
                  <!-- End Title -->
				  <h4 class="h6 font-weight-normal mb-1">{{ attribute(project_status, project.status) }}</h4>

                </div>
              </div>

              <div class="card-footer text-center">
                <!-- Budget & Priority -->
                <div class="row align-items-center">
                  <div class="col-6 u-ver-divider">
                    <h5 class="small font-weight-normal text-secondary mb-0">Branch</h5>
                    <span class="text-dark">{{ project.branch }}</span>
                  </div>
                  <div class="col-6">
                    <h5 class="small font-weight-normal text-secondary mb-0">Priority</h5>
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                    <span class="text-dark">Medium</span>
                  </div>
                </div>
                <!-- End Budget & Priority -->
              </div>
            </div>
            <!-- End Projects -->

			{% endfor %}
			{% endif %}
          </div>
        </div>

        <!-- Pagination -->
        <div class="d-flex justify-content-between align-items-center">
          <nav aria-label="Page navigation">
            <ul class="pagination mb-0">
              <li class="page-item ml-0">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">«</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">»</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

          <small class="d-none d-sm-inline-block text-secondary">Showing 9 out of 52</small>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
    <!-- End Content Section -->
  </main>

{% include 'flash.twig' %}
<div class="card form-project ">
    <div class="card-block">
        <h4 class="card-title ">
            Buscar Projeto
        </h4>
        <form method="post" action="{{urlFor('project_search')}}">
            <div class="form-group ">
                <label for="search_text"  >
                    Buscar
                </label>

                    <input class="form-control" type="text" value="{{query.search_text}}" id="search_text" name="search_text"/>

            </div>
            <div class="form-group">
                <label for="project_status"  >
                    Status do Projeto
                </label>

                <select   class="form-control " name="project_status" id="project_status"    >
                		 <option value="" >
                		 	Qualquer
                     </option>
                    {% for key,value in project_status %}
                    <option value="{{ key }}" {% if query.project_status ==(key) and query.project_status!="" %} selected{%endif%} >
                        {{ value }}
                    </option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="project_type"  >
                    Tipo do Projeto
                </label>

                <select   class="form-control" name="project_type" id="project_type"    >
                         <option value="" >
                            Qualquer
                     </option>
                    {% for key,value in project_types %}
                    <option value="{{ key }}" {% if query.project_type ==(key) and query.project_type!="" %} selected{%endif%} >
                        {{ value }}
                    </option>
                    {% endfor %}
                </select>
            </div>
             <button class="btn btn-lg btn-primary " type="submit" name="search">
                Buscar
            </button>
            <button class="btn btn-lg btn-info " type="submit" name="reset">
                Limpar filtro
            </button>
        </form>
    </div>
</div>
<br/>
{% endblock %}
{% block foot %}

 {%endblock%}
