{% extends 'full.layout.html.twig' %}
{% block title %}Projetos{% endblock %}

{% block navbar_menu %}
<!-- Navbar -->
<div class="u-header u-header--bg-transparent-lg z-index-4">
  <div class="u-header__section bg-transparent u-header--white-nav-links">
	<nav class="js-breadcrumb-menu navbar navbar-expand-lg u-header__navbar">
	  <div id="breadcrumbNavBar" class="collapse navbar-collapse py-0">
		<ul class="navbar-nav w-100 u-header__navbar-nav">
			<!-- Projetos -->
			<li class="nav-item u-header__nav-item">
			  <a class="nav-link u-header__nav-link active" href="{{ urlFor('projects') }}">Projetos</a>
			</li>
			<!-- Projetos -->

			<!-- Configurações -->
			<li class="nav-item u-header__nav-item">
			  <a class="nav-link u-header__nav-link" href="{{ urlFor('settings') }}">Configurações</a>
			</li>
			<!-- Configurações -->

		</ul>
	  </div>
	</nav>
  </div>
</div>
<!-- End Navbar -->
{% endblock %}


{% block botao %}
<div class="ml-lg-auto">
  <!-- Button -->
  <a class="btn btn-sm u-btn-white--air transition-3d-hover" href="#addProjectModal"
	 data-modal-target="#addProjectModal"
	 data-overlay-color="#111722">
	<span class="fa fa-plus font-size-13 mr-2"></span>
	Criar Projeto
  </a>
  <!-- End Button -->
</div>
{% endblock %}

{% block body %}


    <!-- Content Section -->
    <div class="u-bg-light-blue-50">
      <div class="container u-space-2">
        <div class="row justify-content-between align-items-center mb-4">
          <!-- Title -->
          <div class="col-sm-4 col-md-6 mb-3 mb-sm-0">
		  	<h2 class="h6 mb-0">{{ pager.pagination.count }} Projeto{{ pager.pagination.count>1?'s':'' }}</h2>
          </div>
          <!-- End Title -->

          <!-- Filter -->
          <div class="col-sm-8 col-md-6 text-sm-right">
		  <script>
			  $('form select').on('change', function(){
			  	$(this).closest('form').submit();
			  }
		  </script>
		  
		  <form  method="post" action="{{urlFor('project_search')}}">
			<div class="form-group ">
				<label for="search_text"  >
					Buscar
				</label>

				<input class="form-control u-form__input" placeholder="Search Front" aria-label="Buscar Projeto" type="text" value="{{query.search_text}}" id="search_text" name="search_text"/>
			</div>

            <ul class="list-inline mb-0">
              <li class="list-inline-item">
                <!-- Select -->
                <select name="project_status" id="project_status" class="js-select u-select"
                        data-width="fit"
                        data-style="u-btn-primary--air btn-sm">
                  <option value="" selected>Todos os Status</option>
				  {% for key,value in project_status %}
				  <option value="{{ key }}" {% if query.project_status ==(key) and query.project_status!="" %} selected{%endif%} >
					  {{ value }}
				  </option>
				  {% endfor %}
                </select>
                <!-- End Select -->
              </li>

              <li class="list-inline-item">
                <!-- Select -->
                <select name="project_type" id="project_type" class="js-select u-select"
                        data-width="fit"
                        data-style="u-btn-primary--air btn-sm">
                  <option value="" selected>Todos os Tipos</option>
				  {% for key,value in project_types %}
				  <option value="{{ key }}" {% if query.project_type ==(key) and query.project_type!="" %} selected{%endif%} >
					  {{ value }}
				  </option>
				  {% endfor %}
                </select>
                <!-- End Select -->
              </li>

            </ul>
			</form>

          </div>
          <!-- End Filter -->
        </div>

        <div class="mb-7">
          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-52
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown1Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown1"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown1"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown1" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown1Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <img class="u-lg-avatar rounded-circle mb-3 mb-sm-0 mr-3" src="../../assets/img/160x160/img4.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">Mapbox</h3>
                  <p class="font-size-14">The time has come to bring those ideas and plans to life.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="Sean Lewis">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="James Collins">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Cler Lockhart">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Josephina Mack">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner">+3</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$9,145</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                    <span class="text-dark">Medium</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-13
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown2Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown2"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown2"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown2" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown2Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-flex">
              <img class="u-lg-avatar rounded-circle mr-3" src="../../assets/img/160x160/img3.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">Slack</h3>
                  <p class="font-size-14">Using our creative gifts drives this foundation.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="Josephina Mack">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="James Collins">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Cler Lockhart">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Sean Lewis">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner">+1</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$3,120</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-down text-success font-size-13"></span>
                    <span class="text-dark">Low</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-36
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown3Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown3"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown3"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown3" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown3Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <img class="u-lg-avatar rounded-circle mb-3 mb-sm-0 mr-3" src="../../assets/img/160x160/img6.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">DropBox</h3>
                  <p class="font-size-14">It's important to stay detail oriented with every project we tackle.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="James Collins">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Josephina Mack">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Sean Lewis">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Cler Lockhart">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner">+9</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$15,000</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-up text-danger font-size-13"></span>
                    <span class="text-dark">Highest</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-04
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown4Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown4"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown4"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown4" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown4Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <img class="u-lg-avatar rounded-circle mb-3 mb-sm-0 mr-3" src="../../assets/img/160x160/img5.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">Spotify</h3>
                  <p class="font-size-14">We strive to embrace and drive change in our industry.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="Sean Lewis">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="James Collins">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Cler Lockhart">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Josephina Mack">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner">+12</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$5,550</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-up text-danger font-size-13"></span>
                    <span class="text-dark">Highest</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-10
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown5Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown5"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown5"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown5" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown5Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <img class="u-lg-avatar rounded-circle mb-3 mb-sm-0 mr-3" src="../../assets/img/160x160/img11.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">InVision</h3>
                  <p class="font-size-14">Smiling, laughing, and hanging helps us work together to achieve this.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="Josephina Mack">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="James Collins">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Cler Lockhart">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Sean Lewis">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner">+5</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$6,000</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                    <span class="text-dark">Medium</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-47
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown6Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown6"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown6"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown6" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown6Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <img class="u-lg-avatar rounded-circle mb-3 mb-sm-0 mr-3" src="../../assets/img/160x160/img7.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">DigitalOcean</h3>
                  <p class="font-size-14">We've got your front end and back end needs covered.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="James Collins">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Josephina Mack">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Sean Lewis">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Cler Lockhart">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner">+2</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$1,455</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-down text-success font-size-13"></span>
                    <span class="text-dark">Lowest</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-22
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown7Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown7"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown7"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown7" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown7Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <img class="u-lg-avatar rounded-circle mb-3 mb-sm-0 mr-3" src="../../assets/img/160x160/img8.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">PayPal</h3>
                  <p class="font-size-14">Using our creative gifts drives this foundation.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0">
                        <span class="u-icon u-icon-light u-icon--sm rounded-circle">
                          <span class="fa fa-user-circle u-icon__inner"></span>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">N</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-down text-success font-size-13"></span>
                    <span class="text-dark">N</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-08
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown8Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown8"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown8"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown8" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown8Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <span class="u-icon u-icon-secondary mb-3 mb-sm-0--air u-icon--xl rounded-circle mr-3">
                <span class="fa fa-briefcase u-icon__inner font-size-32"></span>
              </span>

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">Unassigned</h3>
                  <p class="font-size-14">No description.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0">
                        <span class="u-icon u-icon-light u-icon--sm rounded-circle">
                          <span class="fa fa-user-circle u-icon__inner"></span>
                        </span>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$250</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-up text-warning font-size-13"></span>
                    <span class="text-dark">Medium</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

          <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  FR-30
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown9Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button"
                     aria-controls="settingsDropdown9"
                     aria-haspopup="true"
                     aria-expanded="false"
                     data-unfold-event="click"
                     data-unfold-target="#settingsDropdown9"
                     data-unfold-type="css-animation"
                     data-unfold-duration="300"
                     data-unfold-delay="300"
                     data-unfold-hide-on-scroll="true"
                     data-unfold-animation-in="slideInUp"
                     data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown9" class="u-unfold right-0 text-left pl-2 mt-2" aria-labelledby="settingsDropdown9Invoker" style="min-width: 160px;">
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
                      Settings
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
                      Repository
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
                      Download
                    </a>
                    <a class="u-list__link" href="#">
                      <span class="fa fa-archive min-width-6 text-center font-size-13"></span>
                      Archive
                    </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
              <img class="u-lg-avatar rounded-circle mb-3 mb-sm-0 mr-3" src="../../assets/img/160x160/img9.jpg" alt="Image Description">

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">Dribbble</h3>
                  <p class="font-size-14">The time has come to bring those ideas and plans to life.</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Members</h4>

                    <ul class="list-inline mb-0">
                      <li class="list-inline-item mr-0" data-toggle="tooltip" data-placement="top" title="James Collins">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img2.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Josephina Mack">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img4.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Eliza Donovan">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img3.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Sean Lewis">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img1.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0" data-toggle="tooltip" data-placement="top" title="Cler Lockhart">
                        <img class="img-fluid u-sm-avatar u-sm-avatar--bordered rounded-circle" src="../../assets/img/32x32/img5.jpg" alt="Image Description">
                      </li>
                      <li class="list-inline-item ml-offset-3 mr-0">
                        <a class="u-icon u-icon-light u-icon--sm rounded-circle" href="#">
                          <span class="u-icon__inner">+4</span>
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Budget</h4>
                    <span class="text-dark">$7,925</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Priority</h4>
                    <span class="fa fa-arrow-up text-danger font-size-13"></span>
                    <span class="text-dark">High</span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->
        </div>

        <!-- Pagination -->
        <div class="d-flex justify-content-between align-items-center">
          <nav aria-label="Page navigation">
            <ul class="pagination mb-0">
              <li class="page-item ml-0">
                <a class="page-link" href="#" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                  <span class="sr-only">Previous</span>
                </a>
              </li>
              <li class="page-item active"><a class="page-link" href="#">1</a></li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
              <li class="page-item"><a class="page-link" href="#">8</a></li>
              <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                  <span class="sr-only">Next</span>
                </a>
              </li>
            </ul>
          </nav>

          <small class="d-none d-sm-inline-block text-secondary">Showing 9 out of 52</small>
        </div>
        <!-- End Pagination -->
      </div>
    </div>
    <!-- End Content Section -->
  </main>
  <!-- ========== END MAIN ========== -->

<main id="content" role="main">

    <!-- Content Section -->
    <div class="u-bg-light-blue-50">
      <div class="container u-space-2">
        <div class="row justify-content-between align-items-center mb-4">


        </div>

		<div class="mb-7">

		{% if pager.pagination.count==0 %}
		  Sorry no projects found.
		  <a  class="btn btn-info btn-sm" href="{{ urlFor('project_form') }}">
		  Criar Projeto</a>
		  {% else %}

		  {% for project in projects %}

		  <!-- Projects -->
          <div class="card p-5 mb-5">
            <!-- List of Icons -->
            <div class="row justify-content-between align-items-center mb-3">
              <div class="col-6">
                <a class="small text-secondary" href="#">
                  <span class="fa fa-bookmark text-primary mr-1"></span>
                  ID-{{project.id}}
                </a>
              </div>
              <div class="col-6 text-right">
                <!-- Settings -->
                <div class="position-relative">
                  <a id="settingsDropdown{{project.id}}Invoker" class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent rounded" href="javascript:;" role="button" aria-controls="settingsDropdown{{project.id}}" aria-haspopup="true" aria-expanded="false" data-unfold-event="click" data-unfold-target="#settingsDropdown{{project.id}}" data-unfold-type="css-animation" data-unfold-duration="300" data-unfold-delay="300" data-unfold-hide-on-scroll="true" data-unfold-animation-in="slideInUp" data-unfold-animation-out="fadeOut">
                    <span class="fa fa-ellipsis-h u-icon__inner"></span>
                  </a>

                  <div id="settingsDropdown{{project.id}}" class="u-unfold right-0 text-left pl-2 mt-2 u-unfold--css-animation u-unfold--hidden fadeOut" aria-labelledby="settingsDropdown{{project.id}}Invoker" style="min-width: 160px; animation-duration: 300ms; right: 0px;">
					  <a class="u-list__link" href="{{ urlFor('project_form',{'id':project.id}) }}">
						<span class="fa fa-cogs min-width-6 text-center font-size-13"></span>
						Editar
					  </a>

					  <a class="u-list__link" href="#">
						<span class="fa fa-code-branch min-width-6 text-center font-size-13"></span>
						Repository
					  </a>
					  <a class="u-list__link" href="#">
						<span class="fa fa-cloud-download-alt min-width-6 text-center font-size-13"></span>
						Download
					  </a>
					  <a class="u-list__link" href="#" data-id="{{project.id}}">
						<span class="fa fa-trash min-width-6 text-center font-size-13"></span>
						Excluir
					  </a>
                  </div>
                </div>
                <!-- End Settings -->
              </div>
            </div>
            <!-- End List of Icons -->

            <!-- Details -->
            <div class="d-sm-flex">
				<span class="u-icon u-icon-secondary mb-3 mb-sm-0--air u-icon--xl rounded-circle mr-3">
				  <span class="fab fa-{{ attribute(project_types, project.type) }} u-icon__inner font-size-32"></span>
				</span>

              <div class="mr-3">
                <!-- Title -->
                <div class="mb-3">
                  <h3 class="h5 mb-1">{{ project.name }}<strong class="text-info"> @ {{ attribute(project_types, project.type) }}</strong></h3>
				  <p class="font-size-14">{% if project.last_hook_time!='0000-00-00 00:00:00' %}
				  <div>
					  Última implantação em <strong>{{project.last_hook_time |date("d M Y h:i:s a")}} foi <strong class="{{project.last_hook_status?'text-success':'text-danger'}}">{{project.last_hook_status?'bem sucedida':'mal sucedida'}} </strong> e levou  <strong>{{project.last_hook_duration|round}} sgundos</strong>
					  <div><a data-toggle="modal" data-target="#deploy_log_modal" href="#" data-project-id="{{project.id}}">Ver Log
				  <textarea style="display:none" id="project_{{project.id}}">{{project.last_hook_log}}</textarea></div>
				  </div>
				   {%endif%}</p>
                </div>
                <!-- End Title -->

                <div class="d-sm-flex align-items-sm-center">
                  <!-- Members List -->
                  <div class="mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Status</h4>
					<span class="fa text-warning font-size-13"></span>
                    <span class="text-dark">{{ attribute(project_status, project.status) }}</span>

                  </div>
                  <!-- End Members List -->

                  <!-- Budget -->
                  <div class="u-ver-divider u-ver-divider--none-sm pr-4 mb-3 mb-sm-0 mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Branch</h4>
                    <span class="text-dark">{{ project.branch }}</span>
                  </div>
                  <!-- End Budget -->

                  <!-- Priority -->
                  <div class="mr-4">
                    <h4 class="small font-weight-normal text-secondary mb-0">Build</h4>
                    <span class="font-size-13 fa  {{project.last_hook_status?'fa-check text-success':'fa-times text-danger'}}"></span>
                    <span class="text-dark">
					<strong class="{{project.last_hook_status?'text-success':'text-danger'}}">{{project.last_hook_status?'Sucesso':'Error'}} </strong></span>
                  </div>
                  <!-- End Priority -->
                </div>
              </div>
            </div>
            <!-- End Details -->
          </div>
          <!-- End Projects -->

		  {% endfor %}
		  {% endif %}

        </div>


      </div>
    </div>
    <!-- End Content Section -->
  </main>

{% include 'flash.twig' %}
<form method="post" id="frm_delete" action="{{urlFor('project_delete')}}"><input type="hidden" name="id" id="delete_id"></form>
{{ pager.paging|raw }}

<script>

$(function()
{

$('#deploy_log_modal').on('show.bs.modal', function (event) {
	   var modal = $(this)

  var id =  $(event.relatedTarget).data('project-id') // Button that triggered the modal
 var log=nl2br($('#project_'+id).text());

   modal.find('.modal-title').text('Último log de implantação para o projeto ' + id)

  modal.find('.modal-body').html( log?log:'No content')
})



	$( ".project_delete" ).on( "click", function(){

		  if(!confirm('Are you sure?'))
		  {
			return false;
		  }

		$( '#delete_id' ).val($( this ).data('id'));

		  $( '#frm_delete' ).submit();
		  return false;
	} );

});
function nl2br (str, is_xhtml) {
	var breakTag = (is_xhtml || typeof is_xhtml === 'undefined') ? '<br />' : '<br>';
	return (str + '').replace(/([^>\r\n]?)(\r\n|\n\r|\r|\n)/g, '$1'+ breakTag +'$2');
}
</script>

{% endblock %}
{% block footer %}

<!-- Create Project Modal Window -->
  <div id="addProjectModal" class="js-add-project-window u-modal-window bg-transparent" style="width: 680px;">
    <form class="bg-white rounded mb-9">
      <!-- Header -->
      <header class="row justify-content-between align-items-center no-gutters u-bg-light-blue-50 rounded-top py-3 px-5">
        <div class="col-3">
          <!--<a class="small text-secondary" href="#">
            <span class="fa fa-bookmark text-primary mr-1"></span>
            FR-53
          </a>-->
        </div>

        <div class="col-9 text-right">
          <!-- Icons -->
          <ul class="list-inline mb-0">
            <li class="list-inline-item mr-0">
              <a class="u-icon u-icon-secondary--air u-icon--sm u-bg-transparent" href="javascript:;" onclick="Custombox.modal.close();">
                <span class="fas fa-times u-icon__inner"></span>
              </a>
            </li>
          </ul>
          <!-- End Icons -->
        </div>
      </header>
      <!-- End Header -->

      <hr class="my-0">

      <div class="pt-3 pb-5 px-5">
        <!-- Project Title -->
        <div class="d-sm-flex justify-content-sm-between align-items-sm-center no-gutters mb-3">
          <div class="mb-1 mb-sm-0 mr-3">
            <div class="input-group u-form u-form--no-brd">
              <input class="form-control u-form__input pl-0" type="text" placeholder="Enter project title" aria-label="Enter project title">
            </div>
          </div>

          <ul class="list-inline text-sm-right mb-0">
            <li class="list-inline-item mr-0">
              <a class="u-icon u-icon-secondary--air u-icon--sm" href="#" data-toggle="tooltip" data-placement="top" title="Add attach">
                <span class="fa fa-paperclip u-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item mr-0">
              <a class="u-icon u-icon-secondary--air u-icon--sm" href="#" data-toggle="tooltip" data-placement="top" title="Create subtask">
                <span class="fa fa-clone u-icon__inner"></span>
              </a>
            </li>
            <li class="list-inline-item mr-0">
              <a class="u-icon u-icon-secondary--air u-icon--sm" href="#" data-toggle="tooltip" data-placement="top" title="Link issue">
                <span class="fa fa-link u-icon__inner"></span>
              </a>
            </li>
          </ul>
        </div>
        <!-- End Project Title -->

        <!-- Status -->
        <div class="row mx-gutters-2 mb-3">
          <div class="col-sm-3 mb-3 mb-sm-0">
            <label class="d-block small text-uppercase font-weight-medium">Status</label>
            <!-- Select -->
            <select class="js-select u-select" data-width="100%" data-style="u-btn-primary--air btn-sm">
              <option value="toDo">To Do</option>
              <option value="inProgress">In Progress</option>
              <option value="done">Done</option>
            </select>
            <!-- End Select -->
          </div>

          <div class="col-6 col-sm">
            <label class="d-block small text-uppercase font-weight-medium">Assignee</label>
            <!-- Select -->
            <select class="js-select u-select" title="Add assignee"
                    data-width="100%"
                    data-style="btn-sm bg-transparent text-secondary font-weight-normal px-0"
                    data-live-search="true"
                    data-searchbox-classes="input-group-sm">
              <option value="assignee1" data-tokens="user1" data-content='
                <span class="d-flex align-items-center">
                  <img class="u-xs-avatar rounded-circle mr-2" src="../../assets/img/32x32/img9.jpg" alt="Image Description">
                  <span>Sebastian Diaz</span>
                </span>'>
                Sebastian Diaz
              </option>
              <option value="assignee2" data-tokens="user2" data-content='
                <span class="d-flex align-items-center">
                  <img class="u-xs-avatar rounded-circle mr-2" src="../../assets/img/32x32/img7.jpg" alt="Image Description">
                  <span>Eliza Donovan</span>
                </span>'>
                Eliza Donovan
              </option>
              <option value="assignee3" data-tokens="user3" data-content='
                <span class="d-flex align-items-center">
                  <img class="u-xs-avatar rounded-circle mr-2" src="../../assets/img/32x32/img6.jpg" alt="Image Description">
                  <span>Cameron Brown</span>
                </span>'>
                Cameron Brown
              </option>
            </select>
            <!-- End Select -->
          </div>

          <div class="col-6 col-sm">
            <label class="d-block small text-uppercase font-weight-medium">Choose project</label>
            <!-- Select -->
            <select class="js-select u-select u-select--right" title="Choose project"
                    data-width="100%"
                    data-style="btn-sm bg-transparent text-secondary font-weight-normal px-0"
                    data-live-search="true"
                    data-searchbox-classes="input-group-sm">
              <option value="project1" data-content='
                <span class="d-flex align-items-center">
                  <img class="u-xs-avatar rounded-circle mr-2" src="../../assets/img/32x32/img11.jpg" alt="Image Description">
                  <span>Slack</span>
                </span>'>
                Slack
              </option>
              <option value="project2" data-content='
                <span class="d-flex align-items-center">
                  <img class="u-xs-avatar rounded-circle mr-2" src="../../assets/img/32x32/img12.jpg" alt="Image Description">
                  <span>DropBox</span>
                </span>'>
                DropBox
              </option>
              <option value="project3" data-content='
                <span class="d-flex align-items-center">
                  <img class="u-xs-avatar rounded-circle mr-2" src="../../assets/img/32x32/img13.jpg" alt="Image Description">
                  <span>Spotify</span>
                </span>'>
                Spotify
              </option>
            </select>
            <!-- End Select -->
          </div>
        </div>
        <!-- End Status -->

        <hr class="my-4">

        <!-- Details -->
        <div class="row justify-content-between">

          <div class="col-6 col-sm-4 mb-4 mb-sm-0">
            <label class="d-block small text-uppercase font-weight-medium">Priority</label>
            <!-- Select -->
            <select class="js-select u-select w-100" data-style="btn-sm bg-transparent font-weight-normal px-0">
              <option value="priorityHighest" data-icon="fa fa-arrow-up text-danger font-size-13 mr-2">Highest</option>
              <option value="priorityHigh" data-icon="fa fa-arrow-up text-danger font-size-13 mr-2">High</option>
              <option value="priorityMedium" data-icon="fa fa-arrow-up text-warning font-size-13 mr-2" selected>Medium</option>
              <option value="priorityLow" data-icon="fa fa-arrow-down text-success font-size-13 mr-2">Low</option>
              <option value="priorityLowest" data-icon="fa fa-arrow-down text-success font-size-13 mr-2">Lowest</option>
            </select>
            <!-- End Select -->
          </div>

          <div class="col-sm-4">
            <label class="d-block small text-uppercase font-weight-medium">Budget</label>
            <div class="input-group input-group-sm u-form u-form--sm u-form--no-brd">
              <input class="form-control u-form__input p-0" type="text" placeholder="Project budget" aria-label="Project budget">
            </div>
          </div>
        </div>
        <!-- End Details -->


        <!-- Buttons -->
        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-sm btn-primary u-btn-primary transition-3d-hover mr-1">Salvar</button>
          <button type="submit" class="btn btn-sm u-btn-secondary--air transition-3d-hover" onclick="Custombox.modal.close();">Cancelar</button>
        </div>
        <!-- End Buttons -->
      </div>
    </form>
  </div>
  <!-- End Create Project Modal Window -->

<footer>
    <!-- Copyright -->
    <div class="container text-center u-space-1">
      <!-- Logo -->
      <a class="d-inline-block mb-2" href="{{ urlFor('projects') }}" aria-label="Front">
        <img src="/assets/svg/logos/logo.svg" alt="Logo" style="width: 120px;">
      </a>
      <!-- End Logo -->

      <p class="small text-muted">© Tecno FX. {{ "now"|date("Y") }} Auto Deploy. All rights reserved.</p>
    </div>
    <!-- End Copyright -->
  </footer>
{%endblock%}
