<!DOCTYPE html>
<html lang="pt_BR">
<head>
<!-- Title -->
<title>{% block title %}Git Deploy{% endblock %}</title>

<!-- Required Meta Tags Always Come First -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Favicon -->
<link rel="shortcut icon" href="/favicon.ico">

<!-- Google Fonts -->
<link href="//fonts.googleapis.com/css?family=Poppins:300,400,500,600" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">

<!-- CSS Global Compulsory -->
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/bootstrap/css/bootstrap.css">

<!-- CSS Implementing Plugins -->
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/custombox/dist/custombox.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/animate.css/animate.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/hs-megamenu/src/hs.megamenu.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/bootstrap-select/dist/css/bootstrap-select.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/flatpickr/dist/flatpickr.min.css">
<link rel="stylesheet" href="{{ base_url() }}/assets/vendor/bootstrap-tagsinput/css/bootstrap-tagsinput.css">


<!-- CSS Front Template -->
<link rel="stylesheet" href="{{ base_url() }}/assets/css/front.css">

{% block head %}{% endblock %}

</head>

<body class="u-custombox-no-scroll">


<div class="col-lg-12  my-auto">
{% block body %}{% endblock %}
</div>


<!-- Go to Top -->
<a class="js-go-to u-go-to" href="#"
data-position='{"bottom": 15, "right": 15 }'
data-type="fixed"
data-offset-top="400"
data-compensation="#header"
data-show-effect="slideInUp"
data-hide-effect="slideOutDown">
<span class="fa fa-arrow-up u-go-to__inner"></span>
</a>
<!-- End Go to Top -->

<!-- JS Global Compulsory -->
<script src="{{ base_url() }}/assets/vendor/jquery/dist/jquery.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/popper.js/dist/umd/popper.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/bootstrap/bootstrap.min.js"></script>

<!-- JS Implementing Plugins -->
<script src="{{ base_url() }}/assets/vendor/hs-megamenu/src/hs.megamenu.js"></script>
<script src="{{ base_url() }}/assets/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/custombox/dist/custombox.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/bootstrap-select/dist/js/bootstrap-select.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
<script src="{{ base_url() }}/assets/vendor/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js"></script>

<!-- JS Front -->
<script src="{{ base_url() }}/assets/js/hs.core.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.header.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.unfold.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.malihu-scrollbar.js"></script>
<script src="{{ base_url() }}/assets/js/helpers/hs.focus-state.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.modal-window.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.selectpicker.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.range-datepicker.js"></script>
<script src="{{ base_url() }}/assets/js/components/hs.go-to.js"></script>

<!-- JS Plugins Init. -->
<script>
$(window).on('load', function () {
// initialization of HSMegaMenu component
$('.js-mega-menu').HSMegaMenu({
event: 'hover',
pageContainer: $('.container'),
breakpoint: 767,
hideTimeOut: 0
});

// initialization of HSMegaMenu component
$('.js-breadcrumb-menu').HSMegaMenu({
event: 'hover',
pageContainer: $('.container'),
breakpoint: 991,
hideTimeOut: 0
});
});

$(document).on('ready', function () {
// initialization of header
$.HSCore.components.HSHeader.init($('#header'));

// initialization of unfold component
$.HSCore.components.HSUnfold.init($('[data-unfold-target]'), {
afterOpen: function () {
$(this).find('input[type="search"]').focus();
}
});

// initialization of malihu scrollbar
$.HSCore.components.HSMalihuScrollBar.init($('.js-scrollbar'));

// initialization of forms
$.HSCore.helpers.HSFocusState.init();

// initialization of autonomous popups
$.HSCore.components.HSModalWindow.init('[data-modal-target]', '.js-add-project-window', {
autonomous: true
});

// initialization of select picker
$.HSCore.components.HSSelectPicker.init('.js-select');

// initialization of range datepicker
$.HSCore.components.HSRangeDatepicker.init('.js-range-datepicker');

// initialization of go to
$.HSCore.components.HSGoTo.init('.js-go-to');
});
</script>

{% block footer %}{% endblock %}
</body>
</html>
